.container {
    display: flex;
    margin: 10px;
    gap: 10px;
}

.box {
    flex: 1;  
    border: 1px solid black;
    width: 20px;
    height: 20px;  
}

#r {
    margin-left: 0px; 
}

#m {
    margin-left: 0px; 
    border: 0px;  
}

#l {
    margin-right: 0px; 
}
